$border-radii: (
  "0": 0%,
  "sm": 2px,
  "md": 4px,
  "lg": 8px,
  "xl": 12px,
  "100": 100%,
) !default;

$border-widths: (
  "0": 0px,
  "xs": 1px,
  "sm": 2px,
  "md": 4px,
  "lg": 8px,
) !default;

$font-sizes: (
  "xs": 12px,
  "sm": 14px,
  "article": 14px,
  "body": 16px,
  "md": 16px,
  "lg": 20px,
) !default;

/**
 * They _could_ be named "xs", "sm", etc, but ".p-sm-sm" would be much more
 * confusing than ".p-sm-half".
 */
$lengths: (
  "0": 0,
  "quarter": 0.25rem,
  "half": 0.5rem,
  "quarter-to": 0.75rem,
  "single": 1rem,
  "double": 2rem,
  "3x": 3rem,
  "4x": 4rem,
) !default;

$max-sizes: (
  "xs": "575px",
  "sm": "767px",
  "md": "991px",
  "lg": "1199px",
  "xl": "1399px",
) !default;

$min-sizes: (
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
) !default;

$z-index: (
  "footer": 30,
  "toast": 40,
) !default;

$content-width: min(980px, calc(100dvw - 20px)) !default;
$font-family: arial, freesans, "Liberation Sans", sans-serif;
$modal-width: min(800px, calc(100dvw - 20px)) !default;
$player-bar-height: 60px !default;
$player-transition-duration: 0.2s !default;
$spodcat-blue: #000067;
$spodcat-yellow: #da9c3b;
$toast-width: min(800px, calc(100dvw - 20px)) !default;
