@use "sass:map";
@use "sass:list";
@use "variables" as *;
@use "color" as *;
@use "responsive" as *;

/**
 * Produces for THEME in [primary, secondary, tertiary, boring, error, info,
 * success]:
 *
 * .theme-THEME: whiteish text, red background, darker red border
 *   &.dark: same but darker variant
 *   &.light: same but lighter variant, with blackish text
 */
@each $tname, $theme in $color-themes {
  .theme-#{$tname} {
    &:not(.transparent) {
      &.diagonal-bg {
        @include themed("border-color", $theme, -0.2);
        @include themed-diagonal-background($theme) using ($variant) {
          color: map.get($text-colors, "on-#{$variant}");
        }
      }
      &:not(.diagonal-bg) {
        @include themed(("background-color", "border-color"), $theme, (0, -0.2)) using ($variant) {
          color: map.get($text-colors, "on-#{$variant}");
        }
      }
    }
    &.transparent {
      @include themed(("color", "border-color"), $theme, (0, -0.2));
    }
  }

  .bg-#{$tname} {
    @include themed("background-color", $theme, 0, true);
  }

  .border-#{$tname} {
    border-style: solid;
    @include themed("border-color", $theme, 0, true);
  }

  .diagonal-bg-#{$tname} {
    @include themed-diagonal-background($theme, true);
  }

  .text-#{$tname} {
    @include themed("color", $theme, 0, true);
  }
}

/** Produces .d-flex, .d-lg-none, etc. */
@each $size in add-empty(map.keys($min-sizes)) {
  @include minsize(#{$size}) {
    @each $variant in (none, block, flex) {
      .d-#{format-prefix($size)}#{$variant} {
        display: $variant !important;
      }
    }
  }
}

/** Produces .border-xs, ..., .border-lg */
@each $wname, $wvalue in $border-widths {
  .border-#{$wname} {
    border-style: solid;
    border-width: #{$wvalue} !important;
  }
}

@each $brname, $brvalue in $border-radii {
  .border-radius-#{$brname} {
    border-radius: #{$brvalue} !important;
  }
}

@each $fsize-name, $fsize in $font-sizes {
  .font-size-#{$fsize-name} {
    font-size: #{$fsize} !important;
  }
}

/** Produces .gap-quarter, .gap-sm-half, etc. */
@include sized-property("gap", "gap");
@include sized-property("row-gap", "row-gap");
@include sized-property("column-gap", "column-gap");

/** Produces .p-single, .p-sm-half, .px-lg-quarter, etc. */
@include sized-property-multidim("p", "padding");
@include sized-property-multidim("m", "margin");

:root {
  --spod-background-color-opaque: #{map.get($background-colors, "opaque")};
  --spod-background-color: #{map.get($background-colors, "default")};
  --spod-body-background: #{map.get($background-colors, "body")};
  --spod-content-width: #{$content-width};
  --spod-font-family: #{$font-family};
  --spod-modal-width: #{$modal-width};
  --spod-player-bar-height: #{$player-bar-height};
  --spod-player-transition-duration: #{$player-transition-duration};
  --spod-podcast-banner-background-1: #{map.get($background-colors, "podcast-banner-1")};
  --spod-podcast-banner-background-2: #{map.get($background-colors, "podcast-banner-2")};
  --spod-spodcat-blue: #{$spodcat-blue};
  --spod-spodcat-yellow: #{$spodcat-yellow};
  --spod-toast-width: #{$toast-width};

  --spod-dotted-border-width: #{map.get($lengths, "quarter")};
  --spod-modal-top-margin: 4rem;
  @include minsize(sm) {
    --spod-dotted-border-width: #{map.get($lengths, "half")};
    --spod-modal-top-margin: 8rem;
  }

  @each $fsname, $fsvalue in $font-sizes {
    --spod-font-size-#{$fsname}: #{$fsvalue};
  }

  @each $cname, $color in $text-colors {
    --spod-text-color-#{$cname}: #{$color};
  }

  @each $lname, $length in $lengths {
    --spod-length-#{$lname}: #{$length};
  }

  @each $theme-name, $theme in $color-themes {
    @each $variant, $color in $theme {
      --spod-color-#{$theme-name}-#{$variant}: #{$color};
    }
  }

  @each $zname, $zvalue in $z-index {
    --spod-zindex-#{$zname}: #{$zvalue};
  }

  @each $wname, $wvalue in $border-widths {
    --spod-border-width-#{$wname}: #{$wvalue};
  }

  @each $brname, $brvalue in $border-radii {
    --spod-border-radius-#{$brname}: #{$brvalue};
  }
}

a {
  color: inherit;
  text-decoration: none;

  &.disabled {
    cursor: inherit;
  }
}

body {
  background-attachment: fixed !important;
  background: var(--spod-body-background);
  color: var(--spod-text-color-on-dark);
  font-family: var(--spod-font-family);
  font-size: var(--spod-font-size-body);
  margin: 0;
}

body,
html {
  height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
  width: 100dvw;
}

button {
  background-color: unset;
  border: unset;
  color: unset;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: unset;
}

h2,
h3 {
  margin-bottom: var(--spod-length-half);
  margin-top: 0;
}

img {
  max-width: 100%;
}

input[type="range"] {
  accent-color: get-color("primary");
}

main {
  flex: 1 1 auto;
}

textarea:disabled,
input:disabled {
  // Otherwise, at least Firefox makes it an illegible gray-on-gray
  background-color: darkgray;
  color: black;
}

.align-baseline {
  align-items: baseline !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-start {
  align-items: flex-start !important;
}

.bg {
  background-color: var(--spod-background-color) !important;
}

.bg-opaque {
  background-color: var(--spod-background-color-opaque) !important;
}

.border-outset {
  border-style: outset !important;
}

.box-shadow {
  box-shadow: 1px 1px 3px var(--spod-background-color);
}

.column {
  display: flex;
  flex-direction: column;
}

.content-width {
  width: var(--spod-content-width);
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.dashed-border {
  border: 3px dashed get-color("primary");
  border-bottom-color: get-color("primary", "dark");
  border-right-color: get-color("primary", "dark");
}

.dotted-border {
  border-color: get-color("primary");
  border-bottom-color: get-color("primary", "dark");
  border-right-color: get-color("primary", "dark");
  border-style: dotted;
  border-width: var(--spod-dotted-border-width);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fill {
  flex-grow: 1;
}

.font-weight-bold {
  font-weight: bold;
}

.iconify {
  mask-origin: content-box;
}

.nowrap {
  white-space: nowrap;
}

.on-disabled-darken.disabled {
  filter: brightness(0.8) grayscale(0.5);
}

.on-hover-lighten:hover:not(.disabled),
.on-active-lighten:active:not(.disabled) {
  filter: brightness(1.3);
}

.on-press-translate:active:not(.loading):not(.disabled) {
  translate: 1px 1px;
}

.outlined-text {
  text-shadow:
    min(-1px, -0.02em) min(-1px, -0.02em) 0.02em black,
    min(-1px, -0.02em) max(1px, 0.02em) 0.02em black,
    max(1px, 0.02em) min(-1px, -0.02em) 0.02em black,
    max(1px, 0.02em) max(1px, 0.02em) 0.02em black;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.pos-relative {
  position: relative;
}

.primary-top-border {
  border-top: var(--spod-border-width-md) solid get-color("primary");
}

.row {
  display: flex;
  flex-direction: row;
}

.shadowed-text {
  text-shadow:
    min(-1px, -0.02em) min(-1px, -0.02em) 0.01em black,
    min(-1px, -0.02em) max(1px, 0.02em) 0.01em black,
    max(1px, 0.02em) min(-1px, -0.02em) 0.01em black,
    max(1px, 0.02em) max(1px, 0.02em) 0.01em black,
    0.04em 0.1em black;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
