@use "sass:map";
@use "variables" as *;

.button {
    align-items: center;
    border-radius: $border-radius;
    border-style: outset;
    border-width: 0;
    cursor: pointer;
    display: flex;
    gap: map.get($lengths, "half");
    padding: map.get($lengths, "half");
    text-decoration: none;

    &:active:not(.loading):not(.disabled) {
        border-style: inset;
        left: 1px;
        top: 1px;
    }

    &.disabled {
        color: $text-color-dark !important;
        cursor: not-allowed !important;
    }

    &.inactive {
        color: $text-color-dark !important;
    }

    &.loading {
        color: lightgray !important;
        cursor: wait !important;
    }

    .icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    &.small {
        font-size: var(--mm-font-size-xs);
        padding: map.get($lengths, "quarter") map.get($lengths, "half");

        .icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
    }
}
