.button {
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    color: var(--mm-text-color);
    display: flex;
    gap: 10px;
    padding: 10px;
    position: relative;
    text-decoration: none;

    &:active:not(.loading) {
        border-style: inset;
        left: 1px;
        top: 1px;
    }

    &:hover {
        color: white;
    }

    &.loading {
        color: lightgray !important;
        cursor: wait !important;
    }

    &.primary {
        background: var(--mm-primary);
        border: 2px outset var(--mm-primary);
        color: white;

        &:hover {
            background: var(--mm-primary-light);
            border-color: var(--mm-primary-light);
        }
    }

    &.secondary {
        background: var(--mm-secondary);
        border: 2px outset var(--mm-secondary);
        color: white;

        &:hover {
            background: var(--mm-secondary-light);
            border-color: var(--mm-secondary-light);
        }
    }

    &.tertiary {
        background: var(--mm-tertiary);
        border: 2px outset var(--mm-tertiary);
        color: white;

        &:hover {
            background: var(--mm-tertiary-light);
            border-color: var(--mm-tertiary-light);
        }
    }

    .icon {
        font-size: 20px !important;
        height: 20px !important;
        width: 20px !important;
    }
}
