@use "mixins";

.button {
    @include mixins.filled-outset-block;

    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 0.5rem;
    text-decoration: none;

    &:active:not(.loading):not(.disabled) {
        border-style: inset;
        left: 1px;
        top: 1px;
    }

    &.disabled {
        color: var(--mm-text-color-dark) !important;
        cursor: not-allowed !important;
    }

    &.inactive {
        color: var(--mm-text-color-dark) !important;
    }

    &.loading {
        color: lightgray !important;
        cursor: wait !important;
    }

    .icon {
        font-size: 20px !important;
        height: 20px !important;
        width: 20px !important;
    }
}
