@use "sass:map";
@use "variables" as *;

$variant-suffixes: (
    "normal": "",
    "dark": "-dark",
    "light": "-light",
);

:root {
    --mm-background-color-opaque: #{$background-color-opaque};
    --mm-background-color: #{$background-color};
    --mm-text-color: #{$text-color};
    --mm-text-color-dark: #{$text-color-dark};

    @each $theme, $variants in $color-themes {
        --mm-#{$theme}: #{map.get($variants, "normal")};
        --mm-#{$theme}-dark: #{map.get($variants, "dark")};
        --mm-#{$theme}-light: #{map.get($variants, "light")};
    }
}

@mixin themed($property, $variants, $variant) {
    #{$property}: #{map.get($variants, $variant)} !important;

    @if $variant == "normal" {
        &.hover-light:hover {
            #{$property}: #{map.get($variants, "light")} !important;
        }
    } @else if $variant == "dark" {
        &.hover-light:hover {
            #{$property}: #{map.get($variants, "normal")} !important;
        }
    }
}

@each $theme, $variants in $color-themes {
    @each $variant in map.keys($variants) {
        .bg-#{$theme}#{map.get($variant-suffixes, $variant)} {
            @include themed("background-color", $variants, $variant);
        }
        .border-#{$theme}#{map.get($variant-suffixes, $variant)} {
            border-width: 2px;
            @include themed("border-color", $variants, $variant);
        }
        .text-#{$theme}#{map.get($variant-suffixes, $variant)} {
            @include themed("color", $variants, $variant);
        }
        .theme-#{$theme}#{map.get($variant-suffixes, $variant)} {
            border-width: 2px;
            color: white;
            @include themed("background-color", $variants, $variant);
            @include themed("border-color", $variants, $variant);
        }
    }
}
