.comment-form {
    display: flex;
    flex-direction: column;

    textarea {
        display: block;
        min-height: 70px;
    }

    label {
        display: block;
    }

    .name-wrapper {
        flex: 1 1 300px;
    }

    .challenge-wrapper {
        flex: 1 0 222px;
    }

    .error {
        color: var(--mm-primary);
    }

    .has-error {
        border: 2px solid var(--mm-primary);
    }

    .button {
        margin-top: 1px;
    }
}

.comment {
    border-radius: var(--mm-border-radius);
    margin-bottom: var(--mm-length-half);
    padding: var(--mm-length-half);

    &:nth-child(odd) {
        background-color: var(--mm-secondary-dark);
    }

    &:nth-child(even) {
        background-color: var(--mm-tertiary-dark);
    }

    &,
    .comment-text {
        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }
}
