@use "sass:map";
@use "color";
@use "variables" as *;

.comment-form {
    display: flex;
    flex-direction: column;

    textarea {
        display: block;
        min-height: 70px;
    }

    label {
        display: block;
    }

    .name-wrapper {
        flex: 1 1 300px;
    }

    .challenge-wrapper {
        flex: 1 0 222px;
    }

    .error {
        color: color.get-color("error");
    }

    .has-error {
        border: 2px solid color.get-color("error");
    }

    .button {
        margin-top: 1px;
    }
}

.comment {
    border-radius: $border-radius;
    margin-bottom: map.get($lengths, "half");
    padding: map.get($lengths, "half");

    &:nth-child(odd) {
        background-color: color.get-color("secondary", "dark");
    }

    &:nth-child(even) {
        background-color: color.get-color("tertiary", "dark");
    }

    &,
    .comment-text {
        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }
}
