@use "sass:map";
@use "color";
@use "variables" as *;

.dbfs {
    align-items: center;
    display: flex;
    flex-grow: 1;
    position: relative;

    .dbfs-overlay {
        position: absolute;
        right: 0;
        height: 100%;
        opacity: 0.7;
        background-color: $background-color-opaque;
        width: 100%;
    }

    .dbfs-column {
        flex-grow: 1;
        flex-shrink: 1;

        div {
            background-color: $text-color;
            height: 100%;
            width: max(50%, 3px);
        }
    }

    .tooltip {
        height: 100%;
        position: absolute;

        .tooltip-box {
            background: $background-color;
            border: 2px solid color.get-color("primary");
            padding: map.get($lengths, "quarter");
            position: absolute;
            top: -36px;
        }

        .tooltip-line {
            border-left: 2px dashed color.get-color("primary");
            height: 100%;
        }
    }
}
