/*
@font-face {
    font-family: "Futura Display BQ";
    src: url("/futura-display-bq-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: Limelight;
    src: url("/Limelight-Regular.ttf") format("truetype");
}

@font-face {
    font-family: UnifrakturMaguntia;
    src: url("/UnifrakturMaguntia-Regular.ttf") format("truetype");
}
*/

@font-face {
    font-family: "Deutsche Uncialis";
    src: url("/deutsche-uncialis.regular.ttf") format("truetype");
}

@font-face {
    font-family: UnifrakturCook;
    src: url("/UnifrakturCook-Bold.ttf") format("truetype");
}
