@use "sass:map";
@use "variables" as *;

@mixin max($size) {
    @media screen and (max-width: map.get($max-sizes, $size)) {
        @content;
    }
}

@mixin min($size) {
    @media screen and (min-width: map.get($min-sizes, $size)) {
        @content;
    }
}

@mixin filled-outset-block() {
    border-radius: var(--mm-border-radius);
    border-style: outset;
    border-width: 0;
    color: var(--mm-text-color);
    display: flex;
    position: relative;

    &:hover {
        color: white;
    }
}
