@use "responsive";

main.podcast-grid {
    column-gap: var(--mm-length-half);
    display: grid;
    grid-template-rows: auto auto auto 1fr;

    grid-template-areas: "header" "before" "aside" "content" "attribution";
    grid-template-columns: 1fr;

    & > * {
        margin-bottom: var(--mm-length-half);
    }

    @include responsive.max(sm) {
        &.podcast-content-details {
            grid-template-areas: "header" "before" "content" "aside" "attribution";
        }
    }

    @include responsive.min(md) {
        grid-template-areas: "header header" "before before" "content aside" "content attribution";
        grid-template-columns: 1fr 250px;
    }

    & > .content {
        grid-area: content;
    }

    & > .before {
        grid-area: before;
    }

    & > aside {
        grid-area: aside;
    }

    & > .attribution {
        grid-area: attribution;
    }
}
