@use "sass:map";

@use "variables" as *;
@use "color";
@use "responsive";

.podcast-details .podcast-banner.has-banner-image {
    aspect-ratio: 3/1;
}

.podcast-list .podcast-banner .podcast-cover {
    width: 80px;
}

.podcast-banner {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: end;
    min-height: 120px;
    overflow: hidden;
    position: relative;

    .podcast-banner-image {
        background-position: center;
        background-size: cover;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &:nth-child(odd) .podcast-banner-image {
        background-image: $podcast-banner-background-1;
    }

    &:nth-child(even) .podcast-banner-image {
        background-image: $podcast-banner-background-2;
    }

    .podcast-cover {
        aspect-ratio: 1/1;
        border: 5px outset color.get-color("primary");
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        width: 100px;
    }

    .podcast-name {
        font-size: 40px;
        line-height: 1;

        &.small {
            font-size: 30px;
        }

        &.large {
            font-size: 50px;
        }

        @include responsive.min(md) {
            font-size: 50px;

            &.small {
                font-size: 35px;
            }

            &.large {
                font-size: 70px;
            }
        }

        @include responsive.min(lg) {
            font-size: 60px;

            &.small {
                font-size: 45px;
            }

            &.large {
                font-size: 80px;
            }
        }
    }

    .podcast-tagline {
        font-size: var(--mm-font-size-article);
        margin-top: map.get($lengths, "quarter");
    }
}
