@use "sass:map";

@use "variables" as *;
@use "color";

.popup-container {
    bottom: calc(100% + map.get($lengths, "half"));
    position: absolute;
    right: 0;

    .popup {
        background-color: $background-color-opaque;
        border: 2px solid color.get-color("primary");
        border-bottom-color: color.get-color("primary", "dark");
        border-radius: $border-radius;
        border-right-color: color.get-color("primary", "dark");
        box-shadow: 0 2px 5px black;
        display: flex;
        flex-direction: column;

        .popup-header {
            border-bottom: 1px solid color.get-color("primary");
            padding: map.get($lengths, "half") map.get($lengths, "single");
        }

        .popup-row {
            align-items: center;
            cursor: pointer;
            display: flex;
            gap: map.get($lengths, "half");
            padding: map.get($lengths, "quarter") map.get($lengths, "single") map.get($lengths, "quarter")
                map.get($lengths, "half");

            .popup-row-check {
                height: 24px;
                width: 24px;
            }
        }
    }

    .arrow {
        background-color: $background-color-opaque;
        border-color: color.get-color("primary", "dark");
        border-style: solid;
        border-width: 0 2px 2px 0;
        bottom: -6px;
        box-shadow: 0 2px 5px black;
        height: 10px;
        position: absolute;
        right: 20px;
        transform: rotate(45deg);
        width: 10px;
    }
}
