.search-modal {
    width: min(600px, 90%);
}

.search-input-container {
    .icon {
        color: var(--mm-text-color-dark);
        left: 10px;
        position: absolute;
        top: 10px;
    }
    .search-input {
        background-color: transparent;
        border: none;
        color: var(--mm-text-color);
        font-size: 16px;
        height: 44px;
        outline: none;
        padding-left: 44px;
        width: 100%;
    }
}

.search-results {
    height: 100%;
    overflow-y: scroll;
}

.search-result {
    display: block;
    padding: 0.5rem 1rem;

    &.active {
        background-color: var(--mm-theme-primary-dark);
    }

    &:last-child {
        margin-bottom: 0.5rem;
    }

    &:hover:not(.active) {
        background-color: var(--mm-theme-boring-dark);
    }

    .breadcrumbs {
        color: var(--mm-text-color-dark);
        font-size: 13px;
    }
}
