@use "sass:map";

@use "variables" as *;

.toast {
    align-items: start;
    border-left-width: 0 !important;
    border-radius: var(--mm-border-radius);
    border-style: outset;
    border-top-width: 0 !important;
    display: grid;
    grid-template: "icon text close" "countdown countdown countdown" / auto 1fr auto;
    overflow: hidden;
    padding-top: var(--mm-length-quarter);
    position: fixed;
    transition-duration: 300ms;
    transition-property: left, bottom, scale, opacity;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: var(--mm-toast-width);
    z-index: map.get($z-index, "toast");

    .toast-icon {
        align-self: center;
        grid-area: icon;
        padding: var(--mm-length-half);
    }

    .toast-text {
        grid-area: text;
        padding: 11px var(--mm-length-half);
    }

    .toast-close-icon {
        cursor: pointer;
        grid-area: close;
        padding: var(--mm-length-half);
    }

    .toast-countdown {
        grid-area: countdown;
        height: 5px;
        width: 0%;
    }
}
