@use "mixins";

.toast {
    @include mixins.filled-outset-block;

    align-items: start;
    bottom: calc(100% + 10px);
    opacity: 0;
    position: fixed;
    scale: 0;
    transition-duration: 300ms;
    transition-property: left, bottom, scale, opacity;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: var(--mm-toast-width);
    z-index: 40;

    .toast-icon {
        align-self: center;
        padding: 10px;
    }

    .toast-text {
        padding: 10px;
        flex-grow: 1;
    }

    .toast-close-icon {
        cursor: pointer;
        padding: 10px;
    }
}
