$color-themes: (
    "primary": (
        "normal": rgb(220, 20, 60),
        "dark": rgb(147, 13, 40),
        "light": rgb(250, 50, 90),
    ),
    "secondary": (
        "normal": rgb(80, 20, 160),
        "dark": rgb(53, 13, 107),
        "light": rgb(110, 50, 190),
    ),
    "tertiary": (
        "normal": rgb(60, 100, 60),
        "dark": rgb(40, 67, 40),
        "light": rgb(90, 130, 90),
    ),
    "boring": (
        "normal": #444,
        "dark": #222,
        "light": #666,
    ),
);

$max-sizes: (
    "xs": "575px",
    "sm": "767px",
    "md": "991px",
    "lg": "1199px",
    "xl": "1399px",
);

$min-sizes: (
    "sm": "576px",
    "md": "768px",
    "lg": "992px",
    "xl": "1200px",
    "xxl": "1400px",
);

$lengths: (
    "quarter": 0.25rem,
    "half": 0.5rem,
    "single": 1rem,
    "double": 2rem,
    "3x": 3rem,
    "4x": 4rem,
);

$dimens: (
    "t": (
        "top",
    ),
    "r": (
        "right",
    ),
    "l": (
        "left",
    ),
    "b": (
        "bottom",
    ),
    "x": (
        "left",
        "right",
    ),
    "y": (
        "top",
        "bottom",
    ),
);

$font-size-body-mobile: 14px;
$font-size-body-desktop: 16px;
$font-size-article: 14px;
$font-size-small: 12px;

$background-color-opaque: #111;
$background-color: rgba(0, 0, 0, 0.8);
$border-radius: 4px;
$content-width: min(980px, calc(100dvw - 20px));
$player-bar-height: 60px;
$text-color-dark: rgb(180, 180, 180);
$text-color: rgb(238, 238, 238);
$toast-width: min(800px, calc(100dvw - 20px));
