@use "sass:map";
@use "material-symbols";
@use "variables" as *;
@use "mixins";
@use "generics";
@use "fonts";
@use "popup";
@use "loader";
@use "dbfs";
@use "button";
@use "podcast-banner";
@use "podcast-grid";
@use "toast";

/** ELEMENTS *****************************************************************/

a {
    color: inherit;
    text-decoration: none;

    &.disabled {
        cursor: inherit;
    }
}

aside {
    @include mixins.min(md) {
        position: sticky;
        top: 0.5rem;
    }
}

body {
    align-items: center;
    background-attachment: fixed !important;
    background: radial-gradient(circle at 100%, #33d, #333 60%, #f33 80%, #000 90%);
    color: var(--mm-text-color);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100dvh;

    @include mixins.min(sm) {
        font-size: 16px;
    }
}

body,
html {
    height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden;
}

footer {
    bottom: 0;
    box-shadow: 0 0 10px -3px black;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    width: 100%;
    z-index: 30;
}

img {
    max-width: 100%;
}

input[type="range"] {
    accent-color: var(--mm-primary);
}

main {
    flex: 1 1 auto;
    padding: 10px 0;
}

h3 {
    margin-top: 0;
}

/** VARIOUS ATTRIBUTES *******************************************************/

[role="button"] {
    cursor: pointer;
}

/** CLASSES ******************************************************************/

.attribution {
    z-index: 20;
}

.badge {
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 2px;

    &.secondary {
        background: var(--mm-secondary);
        border-color: var(--mm-secondary);
    }

    &.primary {
        background: var(--mm-primary);
        border-color: var(--mm-primary);
    }

    &.tertiary {
        background: var(--mm-tertiary);
        border-color: var(--mm-tertiary);
    }
}

.dotted-border {
    border: 10px dotted var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);
}

.episode-song > * {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
}

.err404 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1 {
        font-size: calc(100dvw * 0.3 * 1.5);
        line-height: 1;
        margin: 0;
    }
}

@keyframes flash {
    from {
        opacity: 50%;
    }
    to {
        opacity: 0%;
    }
}

.flash-overlay {
    animation-duration: 0.2s;
    animation-iteration-count: 6;
    animation-name: flash;
    animation-timing-function: steps(2, jump-start);
    background-color: white;
    height: 100%;
    left: 0;
    opacity: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.icon {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    &:active {
        left: 1px;
        top: 1px;
    }

    &.primary {
        color: var(--mm-primary);
        &:hover {
            color: var(--mm-primary-light);
        }
    }

    &.secondary {
        color: var(--mm-secondary);
        &:hover {
            color: var(--mm-secondary-light);
        }
    }

    &.tertiary {
        color: var(--mm-tertiary);
        &:hover {
            color: var(--mm-tertiary-light);
        }
    }
}

.keyboard-key {
    padding: 0 10px;
    background: linear-gradient(to right top, #444, #666);
    border-style: outset;
    border-color: #666;
    border-width: 2px 5px 5px 2px;
    border-radius: 5px;
    display: inline-block;
    height: 25px;
    display: flex;
    align-items: center;

    .text {
        font-size: 12px;
        font-family: monospace;
    }
}

.player-bar {
    background: var(--mm-background-color-opaque);
    border-top: 5px solid var(--mm-primary);
    display: flex;
    flex-direction: column;
    position: relative;

    & > .row {
        height: var(--mm-player-bar-height);
    }

    .episode {
        flex-grow: 1;
        height: 100%;
        width: 350px;

        @include mixins.min(xl) {
            flex-grow: 0;
        }
    }

    img {
        aspect-ratio: 1/1;
        height: 100%;
    }

    .button {
        aspect-ratio: 1/1;
        flex: 0 0 auto;
        font-size: 30px;
        height: 30px;
        overflow: hidden;

        &.larger {
            @include mixins.min(sm) {
                font-size: 40px;
                height: 40px;
            }
        }
    }

    .loader {
        font-size: 40px;
        height: 40px;
        padding: 10px;
    }

    .dbfs {
        height: 50px;
    }
}

.outlined-text {
    text-shadow:
        -2px 0 0 black,
        0 -2px 0 black,
        0 2px 0 black,
        2px 0 0 black;
}

.podcast-content-card {
    border: 3px dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    .podcast-content-card-contents {
        background: var(--mm-background-color);
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
    }

    .podcast-content-name {
        font-weight: bold;
    }

    .podcast-content-description {
        line-height: 1.5;

        & > :first-child {
            margin-top: 0;
        }

        a {
            font-weight: bold;
        }

        p {
            font-size: 14px;
            margin: 0.75em 0;
        }
    }

    .icon {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include mixins.min(sm) {
            font-size: 40px;
            height: 40px;
        }
    }

    .loader {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include mixins.min(sm) {
            font-size: 30px;
            height: 40px;
        }
    }
}

.podcast-content-leading-icon {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    justify-content: center;
    width: 35px;

    @include mixins.min(sm) {
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    &.primary {
        background: var(--mm-primary);
    }
    &.secondary {
        background: var(--mm-secondary);
    }
    &.tertiary {
        background: var(--mm-tertiary);
    }

    &.material-symbols {
        font-size: 24px;
    }
}

.podcast-description {
    border: 5px dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    .podcast-description-content {
        background: var(--mm-background-color);
        line-height: 1.5;
        padding: 1rem;

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: bold;
        }
    }
}

.volume-control-popup {
    padding-right: 1rem;
}

/* Kommentarer */

.comment-form {
    display: flex;
    flex-direction: column;

    textarea {
        display: block;
        min-height: 70px;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
    }

    .name-wrapper {
        flex-grow: 1;
    }

    .error {
        color: var(--mm-primary);
    }

    .has-error {
        border: 2px solid var(--mm-primary);
    }
}

.comment {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;

    &:nth-child(odd) {
        background-color: var(--mm-secondary-dark);
    }

    &:nth-child(even) {
        background-color: var(--mm-tertiary-dark);
    }

    &,
    .comment-text {
        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }
}
