@use "sass:map";
@use "material-symbols";
@use "variables" as *;
@use "mixins";
@use "generics";
@use "fonts";
@use "popup";
@use "loader";
@use "dbfs";
@use "button";

/** ELEMENTS *****************************************************************/

a {
    color: inherit;
    text-decoration: none;

    &.disabled {
        cursor: inherit;
    }
}

aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: aside;
}

body {
    align-items: center;
    background-attachment: fixed !important;
    background: radial-gradient(circle at 100%, #33d, #333 60%, #f33 80%, #000 90%);
    color: var(--mm-text-color);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100dvh;

    @include mixins.min(sm) {
        font-size: 16px;
    }
}

body,
html {
    height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden;
}

footer {
    bottom: 0;
    box-shadow: 0 0 10px -3px black;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    width: 100%;
    z-index: 30;
}

img {
    max-width: 100%;
}

input[type="range"] {
    accent-color: var(--mm-primary);
}

main.podcast-details {
    column-gap: 0.5rem;
    display: grid;
    flex: 1 1 auto;
    grid-template-rows: auto auto auto 1fr;
    padding: 10px 0;

    & > * {
        margin-bottom: 0.5rem;
    }

    @include mixins.max(sm) {
        grid-template-areas: "header" "before" "aside" "podcast-content-container" "attr";
        grid-template-columns: 1fr;

        &.podcast-content-detail {
            grid-template-areas: "header" "before" "podcast-content-container" "aside" "attr";
        }
    }

    @include mixins.min(md) {
        grid-template-areas: "header header" "before before" "podcast-content-container aside" "podcast-content-container attr";
        grid-template-columns: 1fr 250px;
    }
}

/** VARIOUS ATTRIBUTES *******************************************************/

[role="button"] {
    cursor: pointer;
}

/** CLASSES ******************************************************************/

.attribution {
    grid-area: attr;
    z-index: 20;
}

.badge {
    border-radius: 5px;
    border-style: outset;
    border-width: 2px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 2px;

    &.secondary {
        background: var(--mm-secondary);
        border-color: var(--mm-secondary);
    }

    &.primary {
        background: var(--mm-primary);
        border-color: var(--mm-primary);
    }

    &.tertiary {
        background: var(--mm-tertiary);
        border-color: var(--mm-tertiary);
    }
}

.content-grid {
    display: grid;
    grid-template-areas: "before before" "podcast-content-container aside" "podcast-content-container attr";
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto auto 1fr;

    .before {
        grid-area: before;
    }
    .podcast-content-container {
        grid-area: podcast-content-container;
    }
    aside {
        grid-area: aside;
    }
    .attribution {
        grid-area: attr;
    }
}

.dotted-border {
    border: 10px dotted var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);
}

.err404 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1 {
        font-size: calc(100dvw * 0.3 * 1.5);
        line-height: 1;
        margin: 0;
    }
}

@keyframes flash {
    from {
        opacity: 50%;
    }
    to {
        opacity: 0%;
    }
}

.flash-overlay {
    animation-duration: 0.2s;
    animation-iteration-count: 6;
    animation-name: flash;
    animation-timing-function: steps(2, jump-start);
    background-color: white;
    height: 100%;
    left: 0;
    opacity: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.icon {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    &:active {
        left: 1px;
        top: 1px;
    }

    &.primary {
        color: var(--mm-primary);
        &:hover {
            color: var(--mm-primary-light);
        }
    }

    &.secondary {
        color: var(--mm-secondary);
        &:hover {
            color: var(--mm-secondary-light);
        }
    }

    &.tertiary {
        color: var(--mm-tertiary);
        &:hover {
            color: var(--mm-tertiary-light);
        }
    }
}

.keyboard-key {
    padding: 0 10px;
    background: linear-gradient(to right top, #444, #666);
    border-style: outset;
    border-color: #666;
    border-width: 2px 5px 5px 2px;
    border-radius: 5px;
    display: inline-block;
    height: 25px;
    display: flex;
    align-items: center;

    .text {
        font-size: 12px;
        font-family: monospace;
    }
}

.player-bar {
    background: var(--mm-background-color-opaque);
    border-top: 5px solid var(--mm-primary);
    display: flex;
    flex-direction: column;
    position: relative;

    & > .row {
        height: var(--mm-player-bar-height);
    }

    .episode {
        flex-grow: 1;
        height: 100%;
        width: 350px;

        @include mixins.min(xl) {
            flex-grow: 0;
        }
    }

    img {
        aspect-ratio: 1/1;
        height: 100%;
    }

    .button {
        aspect-ratio: 1/1;
        flex: 0 0 auto;
        font-size: 30px;
        height: 30px;
        overflow: hidden;

        &.larger {
            @include mixins.min(sm) {
                font-size: 40px;
                height: 40px;
            }
        }
    }

    .loader {
        font-size: 40px;
        height: 40px;
        padding: 10px;
    }

    .dbfs {
        height: 50px;
    }
}

.podcast-details .podcast-banner.has-banner-image {
    aspect-ratio: 3/1;

    .podcast-banner-image {
        aspect-ratio: 3/1;
    }
}

.podcast-list .podcast-banner {
    border-radius: 5px;

    .podcast-cover {
        width: 80px;
    }

    .podcast-name {
        font-size: 30px;

        &.small {
            font-size: 20px;
        }

        &.large {
            font-size: 40px;
        }

        @include mixins.min(md) {
            font-size: 40px;

            &.small {
                font-size: 25px;
            }

            &.large {
                font-size: 60px;
            }
        }

        @include mixins.min(lg) {
            font-size: 50px;

            &.small {
                font-size: 35px;
            }

            &.large {
                font-size: 70px;
            }
        }
    }
}

.outlined-text {
    text-shadow:
        -2px 0 0 black,
        0 -2px 0 black,
        0 2px 0 black,
        2px 0 0 black;
}

.podcast-banner {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    grid-area: header;
    justify-content: end;
    overflow: hidden;
    position: relative;

    .podcast-banner-image {
        object-fit: cover;
        object-position: center;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .podcast-cover {
        aspect-ratio: 1/1;
        border: 5px outset var(--mm-primary);
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        width: 100px;
    }

    .podcast-name {
        font-family: "Unifraktur Cook";
        font-size: 40px;
        line-height: 1;

        &.small {
            font-size: 30px;
        }

        &.large {
            font-size: 50px;
        }

        @include mixins.min(md) {
            font-size: 50px;

            &.small {
                font-size: 35px;
            }

            &.large {
                font-size: 70px;
            }
        }

        @include mixins.min(lg) {
            font-size: 60px;

            &.small {
                font-size: 45px;
            }

            &.large {
                font-size: 80px;
            }
        }
    }

    .podcast-name-alt {
        font-family: "Deutsche Uncialis";
        font-size: 80px;
        line-height: 1;
        text-shadow:
            -2px 0 0 black,
            0 -2px 0 black,
            0 2px 0 black,
            2px 0 0 black;
    }

    .podcast-tagline {
        font-size: 14px;
        margin-top: 5px;
    }
}

.podcast-content-card {
    border: 3px dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    .podcast-content-card-contents {
        background: var(--mm-background-color);
        display: flex;
        flex-direction: column;
    }

    .podcast-content-link-block {
        padding: 1rem 0 1rem 1rem;
    }

    .podcast-content-name {
        font-weight: bold;
    }

    .podcast-content-description {
        line-height: 1.5;
        margin: 0 1rem;

        & > :first-child {
            margin-top: 0;
        }

        a {
            font-weight: bold;
        }

        p {
            font-size: 14px;
            margin: 0.75em 0;
        }
    }

    .icon {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include mixins.min(sm) {
            font-size: 40px;
            height: 40px;
        }
    }

    .loader {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include mixins.min(sm) {
            font-size: 30px;
            height: 40px;
        }
    }
}

.podcast-content-container {
    grid-area: podcast-content-container;
}

.podcast-content-leading-icon {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    justify-content: center;
    width: 35px;

    @include mixins.min(sm) {
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    &.primary {
        background: var(--mm-primary);
    }
    &.secondary {
        background: var(--mm-secondary);
    }
    &.tertiary {
        background: var(--mm-tertiary);
    }

    &.material-symbols {
        font-size: 24px;
    }
}

.podcast-description {
    border: 5px dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    &.before {
        grid-area: before;
    }

    .podcast-description-content {
        background: var(--mm-background-color);
        line-height: 1.5;
        padding: 1rem;

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: bold;
        }
    }
}

.toast {
    @include mixins.filled-outset-block;

    align-items: start;
    bottom: calc(100% + 10px);
    opacity: 0;
    position: fixed;
    scale: 0;
    transition-duration: 300ms;
    transition-property: left, bottom, scale, opacity;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: var(--mm-toast-width);
    z-index: 40;

    .toast-icon {
        align-self: center;
        padding: 10px;
    }

    .toast-text {
        padding: 10px;
    }

    .toast-close-icon {
        cursor: pointer;
        padding: 10px;
    }
}

.volume-control-popup {
    padding-right: 1rem;
}
