@use "sass:map";
@use "variables" as *;
@use "material-symbols";
@use "generics";
@use "responsive";
@use "fonts";
@use "popup";
@use "loader";
@use "dbfs";
@use "button";
@use "podcast-banner";
@use "podcast-grid";
@use "toast";
@use "color";
@use "comment";
@use "player-bar";

:root {
    --mm-border-radius: #{$border-radius};
    --mm-content-width: #{$content-width};
    --mm-player-bar-height: #{$player-bar-height};
    --mm-toast-width: #{$toast-width};
    --mm-font-size-body: #{$font-size-body-mobile};
    --mm-font-size-article: #{$font-size-article};
    --mm-font-size-small: #{$font-size-small};

    @each $lname, $length in $lengths {
        --mm-length-#{$lname}: #{$length};
    }

    @include responsive.min(sm) {
        --mm-font-size-body: #{$font-size-body-desktop};
    }
}

/** ELEMENTS *****************************************************************/

a {
    color: inherit;
    text-decoration: none;

    &.disabled {
        cursor: inherit;
    }
}

aside {
    @include responsive.min(md) {
        position: sticky;
        top: var(--mm-length-half);
    }
}

body {
    align-items: center;
    background-attachment: fixed !important;
    background: radial-gradient(circle at 100%, #33d, #333 60%, #f33 80%, #000 90%);
    color: var(--mm-text-color);
    display: flex;
    flex-direction: column;
    font-family: Arial, FreeSans, "Liberation Sans", sans-serif;
    font-size: var(--mm-font-size-body);
    margin: 0;
    min-height: 100dvh;
}

body,
html {
    height: 100dvh;
    max-width: 100dvw;
    overflow-x: hidden;
}

footer {
    bottom: 0;
    box-shadow: 0 0 10px -3px black;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: sticky;
    width: 100%;
    z-index: 30;
}

img {
    max-width: 100%;
}

input[type="range"] {
    accent-color: var(--mm-primary);
}

main {
    flex: 1 1 auto;
    padding: var(--mm-length-half) 0;
}

h3 {
    margin-bottom: var(--mm-length-half);
    margin-top: 0;
}

/** VARIOUS ATTRIBUTES *******************************************************/

[role="button"] {
    cursor: pointer;
}

/** CLASSES ******************************************************************/

.attribution {
    z-index: 20;
}

.dotted-border {
    border: var(--mm-length-half) dotted var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);
}

.episode-song {
    font-size: var(--mm-font-size-article);
    line-height: 1.5;
    margin: var(--mm-length-half) 0;

    & > * {
        cursor: pointer;
        display: inline-block;
    }
}

.err404 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1 {
        font-size: calc(100dvw * 0.3 * 1.5);
        line-height: 1;
        margin: 0;
    }
}

@keyframes flash {
    0% {
        opacity: 60%;
    }
    20% {
        opacity: 0%;
    }
    40% {
        opacity: 40%;
    }
    60% {
        opacity: 0%;
    }
    80% {
        opacity: 20%;
    }
    100% {
        opacity: 0%;
    }
}

.flash-overlay {
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-name: flash;
    animation-timing-function: steps(1);
    background-color: white;
    height: 100%;
    left: 0;
    opacity: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @media (prefers-reduced-motion) {
        display: none;
    }
}

.icon {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;

    &:active {
        left: 1px;
        top: 1px;
    }
}

.keyboard-key {
    padding: 0 var(--mm-length-half);
    background: linear-gradient(to right top, #444, #666);
    border-style: outset;
    border-color: #666;
    border-width: 2px 5px 5px 2px;
    border-radius: var(--mm-border-radius);
    display: inline-block;
    height: 25px;
    display: flex;
    align-items: center;

    .text {
        font-size: var(--mm-font-size-small);
        font-family: monospace;
    }
}

.podcast-content-card {
    border: 3px dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    .podcast-content-card-contents {
        background: var(--mm-background-color);
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
    }

    .podcast-content-name {
        font-weight: bold;
    }

    .podcast-content-description {
        line-height: 1.5;

        & > :first-child {
            margin-top: 0;
        }

        a {
            font-weight: bold;
        }

        p {
            font-size: var(--mm-font-size-article);
            margin: 0.75em 0;
        }

        img {
            border-radius: var(--mm-border-radius);
        }
    }

    .icon {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include responsive.min(sm) {
            font-size: 40px;
            height: 40px;
        }
    }

    .loader {
        aspect-ratio: 1/1;
        font-size: 30px;
        height: 30px;

        @include responsive.min(sm) {
            font-size: 30px;
            height: 40px;
        }
    }
}

.podcast-content-leading-icon {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    justify-content: center;
    width: 35px;

    @include responsive.min(sm) {
        font-size: 20px;
        height: 40px;
        width: 40px;
    }

    &.material-symbols {
        font-size: 24px;
    }
}

.podcast-description {
    border: var(--mm-length-quarter) dashed var(--mm-primary);
    border-bottom-color: var(--mm-primary-dark);
    border-right-color: var(--mm-primary-dark);

    .podcast-description-content {
        background: var(--mm-background-color);
        line-height: 1.5;
        padding: var(--mm-length-single);

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: bold;
        }
    }
}

.text-input {
    column-gap: var(--mm-length-single);
    display: grid;
    font-size: var(--mm-font-size-small);
    grid-template-columns: 1fr auto;

    .input {
        grid-column-end: span 2;
    }

    .errors {
        grid-column-end: span 2;
    }
}

.volume-control-popup {
    padding-right: var(--mm-length-single);
}
