@font-face {
    font-family: "Material Symbols";
    font-style: normal;
    /* font-weight: 400; */
    src:
        url(/fonts/material-symbols.ttf) format("ttf"),
        url(/fonts/material-symbols.woff2) format("woff2");
}

.material-symbols {
    direction: ltr;
    display: inline-block;
    font-family: "Material Symbols";
    font-size: 24px;
    font-style: normal;
    font-variation-settings: "FILL" 1;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
