<div class="attribution column gap-half align-center" ...attributes>
  <div class="text-xs">
    {{t "site-made-by"}}
    <a href="https://robert.huseli.us/" class="font-weight-bold" target="_blank" rel="noopener noreferrer">Robert</a>
  </div>
  <div class="text-xs font-weight-bold cursor-pointer" {{on "click" this.onCookiesClick}}>{{t "cookies.question"}}</div>
</div>
