<div class="pos-relative" {{on-outside-click this.closePopup}}>
  <span
    class="material-symbols button"
    role="button"
    {{on "click" this.togglePopup}}
    title="Ändra hastighet"
  >settings_timelapse</span>

  {{#if this.popupVisible}}
    <Popup class="pb-half">
      <div class="popup-header">Hastighet</div>
      {{#each this.playbackRates as |rate|}}
        <div class="popup-row" {{on "click" (fn this.onRateClick rate.rate)}}>
          <div class="popup-row-check">
            {{#if (eq rate.rate this.audio.playbackRate)}}
              <span class="material-symbols">check</span>
            {{/if}}
          </div>
          <div class="popup-row-label">{{rate.label}}</div>
        </div>
      {{/each}}
    </Popup>
  {{/if}}
</div>
