<VolumeControl::Inner class="d-none d-lg-flex" />

<div class="d-lg-none pos-relative" {{on-outside-click this.onOutsideClick}}>
  <span class="material-symbols button" role="button" {{on "click" this.togglePopup}} title="Volym">
    {{#if this.audio.isMuted}}
      volume_off
    {{else}}
      volume_up
    {{/if}}
  </span>

  {{#if this.popupVisible}}
    <div class="popup-container">
      <div class="popup volume-control-popup">
        <VolumeControl::Inner />
      </div>
      <div class="arrow"></div>
    </div>
  {{/if}}
</div>
