<Podcast::Post @podcast={{@model.podcast}} @post={{@model}}>
  <div class="draft">
    DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT
  </div>
</Podcast::Post>
