<div class="podcast-content-description" ...attributes>
  {{#if @model.description-html}}
    {{html-safe @model.description-html}}
  {{/if}}

  {{yield}}

  {{#if @model.descriptionIsLoading}}
    <ProgressCircle class="icon mb-single" />
  {{/if}}
</div>
