<div class="row align-center" ...attributes>
  <div class="row align-center gap-half fill">
    <div class="small">{{this.audio.currentTimeString}}</div>
    <Dbfs::Bar @episode={{@episode}} />
    <div class="small d-none d-sm-block">{{this.audio.durationString}}</div>
  </div>
  <VolumeControl />
  <PlaybackRateControl />
</div>
