<span class="material-symbols podcast-content-leading-icon theme-secondary">article</span>
<div class="fill column gap-quarter">
  <div class="podcast-content-name">{{@post.name}}</div>
  <div class="row gap-half">
    <div class="badge theme-secondary">{{@post.publishedString}}</div>
  </div>
</div>
