<Podcast::Episode @podcast={{@model.podcast}} @episode={{@model}}>
  <div class="draft">
    DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT
  </div>
</Podcast::Episode>
