<main class="content-width text-center">
  <img src="/reject-error.gif" alt="" />
  <p>{{t "unknown-error-1"}}</p>
  <p>{{t "unknown-error-2"}}</p>
  <p><em>{{@model}}</em></p>
  <p>
    <LinkTo @route="home" class="font-weight-bold">{{t "go-home"}}</LinkTo>
  </p>
</main>
