<main class="content-width text-center">
  <img src="/reject-error.gif" alt="" />
  <p>Någonting gick snett, och det var antagligen Satans fel.</p>
  <p>Försök igen senare eller inkom med ett formellt klagomål till centralkommittén.</p>
  <p><em>{{@model}}</em></p>
  <p>
    <LinkTo @route="home" class="bold">Gå hem</LinkTo>
  </p>
</main>
