<main class="content-width podcast-details podcast-grid {{@model.id}}">
  <Podcast::Banner @podcast={{@model}} />

  <div class="column gap-half content">
    {{outlet}}
  </div>

  <Podcast::Aside @podcast={{@model}} />

  <Attribution class="d-md-none" />
</main>
